{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
{{ $featured_resource := partials.Include "func/GetFeaturedImageResource.html" . }}
{{ if or $featured_resource $featured_image }}
  {{ $featured_image_class := site.Params.featured_image_class | compare.Default "cover bg-top" }}
  {{ $header_section_class := .Param "header_section_class" | default "tc-l pv4 pv6-l ph3 ph4-ns" }}
  <header class="{{ $featured_image_class }} site-cover">
    {{- if $featured_resource -}}
      {{ partial "responsive-image.html" (dict
        "resource" $featured_resource
        "widths" (slice 640 960 1600)
        "sizes" "100vw"
        "class" "site-cover__image"
        "alt" ""
        "loading" "eager"
        "fetchpriority" "high"
      ) }}
    {{- else -}}
      <img src="{{ $featured_image }}" class="site-cover__image" alt="" fetchpriority="high">
    {{- end -}}
    {{ $cover_dimming_class := site.Params.cover_dimming_class | default "bg-black-60" }}
    <div class="{{ $cover_dimming_class }} site-cover__content">
      {{ partials.Include "site-navigation.html" .}}
      <div class="{{ $header_section_class }}">
        <h1 class="f2 f-subheadline-l fw7 white-90 mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <p class="fw6 f5 f3-l white-80 measure-wide-l center mt3">
            {{ . }}
          </p>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partials.Include "site-navigation.html" . }}
      {{ $header_section_class := .Param "header_section_class" | default "tc-l pv3 ph3 ph4-ns" }}
      <div class="{{ $header_section_class }}">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <p class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </p>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
